# Common
.vscode
.DS_Store
.idea

# Environments
.env
.venv

# Python
__pycache__

# mypy
.mypy_cache/

# ruff
.ruff_cache

# PyTest
.pytest_cache

# MkDocs documentation
/site

# Textual Screenshots
.screenshot_cache

# Poetry build
/dist
