/* COLORS */
$bg-main-color: white;
$bg-secondary-color: #e5e7eb;
$bg-secondary-color-accent: #d1d5db;
$text-primary-color: black;

$bg-main-color-darken: #1e293b;
$bg-secondary-color-darken: #0f172a;
$text-primary-color-darken: black;

AuthorResumeWidget {
    height: 1fr;
    margin: 1 2;
}

.-dark-mode AuthorResumeWidget {
    color: $text-primary-color-darken;
    background: $bg-secondary-color;
}


/* Main Container */
AuthorResumeWidget #main-container{
    height: 1fr;
}

/* Block Container */
AuthorResumeWidget .block-container {
    padding: 1;
    height: auto;
}

AuthorResumeWidget .block-title {
    text-align: center;
    width: 100%;
    border-bottom: solid $text-primary-color;
}

AuthorResumeWidget .info-container {
    height: auto;
}

AuthorResumeWidget .info-container Label {
    text-align: center;
    width: 1fr;
}

/* Cards */
AuthorResumeWidget .cards-container {
    height: auto;
    margin: 1 0 0 0 ;

    layout: grid;
    grid-size: 3 1;
    grid-rows: 11;
    grid-columns: 1fr;
    grid-gutter: 1 2;
}

/* Table */
AuthorResumeWidget .table-container {
    height: auto;
    margin: 1 0 0 0 ;
}


/* Buttons */
AuthorResumeWidget .button-container {
    align: center middle;
}
