/* COLORS */
$bg-main-color: white;
$bg-secondary-color: #e5e7eb;
$text-primary-color: black;

$bg-main-color-darken: #1e293b;
$bg-secondary-color-darken: #0f172a;
$text-primary-color-darken: white;

/* SideBar CSS */
Body .sidebar {
    dock: left;
    width: 20;

    background: $bg-secondary-color;
    color: $text-primary-color;
}

.-dark-mode Body .sidebar {
    background: $bg-secondary-color-darken;
    color: $text-primary-color-darken;
}

SideBar Vertical {
    margin: 1;
    padding: 1 1;
}

SideBar .menu-title {
    content-align: left middle;
    text-style: bold;
    border-bottom: heavy $text-primary-color;
}

.-dark-mode SideBar .menu-title {
    border-bottom: heavy $text-primary-color-darken;
}

SideBar .menu-option {
    content-align: left middle;
    margin: 1 0;
    width: 100%;
}


/* Main Content CSS */
Body .main-content {
    background: $bg-main-color;
    color: $text-primary-color;

    padding: 2 1 0 1;
    height: 100%;
}

.-dark-mode Body .main-content {
    background: $bg-main-color-darken;
    color: $text-primary-color-darken;
}

Body .title {
    content-align: left middle;
    text-style: bold;
    border-bottom: heavy $text-primary-color;
}

.-dark-mode Body .title {
    border-bottom: heavy $text-primary-color-darken;
}
