/* COLORS */
$bg-main-color: white;
$bg-secondary-color: #e5e7eb;
$bg-secondary-color-accent: #d1d5db;
$text-primary-color: black;

$bg-main-color-darken: #1e293b;
$bg-secondary-color-darken: #0f172a;
$text-primary-color-darken: black;

$primary-color: #b91c1c;
$primary-color-accent: #991b1b;
$primary-color-highlight: #dc2626;

/* Common */
DataTable {
    background: $bg-main-color;
    color: $text-primary-color;
    height: 1fr;
}

.-dark-mode DataTable {
    background: $bg-secondary-color;
}

/* Header */
DataTable > .datatable--header {
    text-style: bold;
    background: $bg-secondary-color;
    color: $text-primary-color;
}

.-dark-mode DataTable > .datatable--header {
    background: $bg-secondary-color-darken;
    color: $bg-main-color;
}

DataTable > .datatable--header-hover {
    background: $bg-secondary-color-accent;
}

/* Rows */
DataTable > .datatable--hover {
    background: $bg-secondary-color-accent 50%;
}

.-dark-mode DataTable > .datatable--hover {
    background: $bg-main-color-darken 30%;
}

/* Fixed */
DataTable > .datatable--fixed {
    background: $bg-secondary-color-accent 50%;
}

.-dark-mode DataTable > .datatable--fixed {
    background: $bg-secondary-color-darken;
    color: $bg-main-color;
}

DataTable > .datatable--fixed-cursor {
    background: $primary-color-accent 95%;
    color: white;
    text-style: bold;
}

/* Even Row */
DataTable > .datatable--even-row {
    background: $bg-main-color;
}

.-dark-mode DataTable > .datatable--even-row {
    background: $bg-secondary-color;
}

/* Odd Row */
DataTable > .datatable--odd-row {
    background: $bg-secondary-color 20%;
}

.-dark-mode DataTable > .datatable--odd-row {
    background: $bg-main-color-darken 10%;
}

/* Cursor */
DataTable > .datatable--cursor {
    background: $primary-color-accent 80%;
    color: white;
    text-style: bold;
}

.-dark-mode DataTable > .datatable--cursor {
    background: $bg-main-color-darken 30%;
    color: $text-primary-color;
}

DataTable > .datatable--header-cursor {
    background: $primary-color-accent 95%;
}
