/* COLORS */
$bg-main-color: white;
$bg-secondary-color: #e5e7eb;
$bg-secondary-color-accent: #d1d5db;
$text-primary-color: black;

$bg-main-color-darken: #1e293b;
$bg-secondary-color-darken: #0f172a;
$text-primary-color-darken: black;


ReportWidget {
    height: 1fr;
    margin: 1 2;
}

.-dark-mode ReportWidget {
    background: $bg-secondary-color;
    color: $text-primary-color-darken;
}

ReportWidget #main-container {
    height: 100%;
}

ContentSwitcher {
    height: 1fr;
}

/* Common */
ReportWidget .cards-container {
    height: auto;
    margin: 1 0 0 0 ;

    layout: grid;
    grid-size: 3 1;
    grid-rows: 12;
    grid-columns: 1fr;
    grid-gutter: 1 2;
}

/* Author Pane */
AuthorReportPane .table-container {
    margin: 1 0 0 0 ;
}

/* Work Pane */
WorkReportPane WorksTable {
    margin: 1 0 0 0;
}

/* Sources Pane */
