/* COLORS */
$bg-main-color: white;
$bg-secondary-color: #e5e7eb;
$bg-secondary-color-accent: #d1d5db;
$text-primary-color: black;

$bg-main-color-darken: #1e293b;
$bg-secondary-color-darken: #0f172a;
$text-primary-color-darken: black;


ReportWidget {
    height: 1fr;
    margin: 1 2;
}

.-dark-mode ReportWidget {
    background: $bg-secondary-color;
    color: $text-primary-color-darken;
}

ReportWidget #main-container {
    height: 100%;
}

ContentSwitcher {
    height: 1fr;
}


/* Work Resume */
WorkResume {
    background: rgba(229, 231, 235, 0.5);
    align: center middle;
}

WorkResume #dialog {
    background: $bg-main-color;
    height: 100%;
    width: 100%;

    margin: 3 10;
    border: $bg-secondary-color;
}

.-dark-mode WorkResume #dialog {
    background: $bg-secondary-color;
    color: $text-primary-color-darken;
}

WorkResume #dialog .dialog-title {
    height: 3;
    width: 100%;
    margin: 1;

    text-align: center;
    border-bottom: solid $text-primary-color;
}

WorkResume #dialog .cards-container {
    height: auto;
    width: 100%;
    padding: 0 2;

    layout: grid;
    grid-size: 3 1;
    grid-rows: 15;
    grid-columns: 1fr;
    grid-gutter: 1 2;
}

WorkResume #dialog .card {
    height: 100%;
    padding: 1 2;
    border: solid $text-primary-color;
    background: $bg-secondary-color;
}

WorkResume #dialog .card .card-title {
    margin: 0 0 1 0;
    width: 100%;
    text-align: center;
    border-bottom: solid $text-primary-color;
}

WorkResume #dialog #citations-table {
    height: auto;
    padding: 1 2 0 2;
}
