/* COLORS */
$bg-main-color: white;
$bg-secondary-color: #e5e7eb;
$bg-secondary-color-accent: #d1d5db;
$text-primary-color: black;

$bg-main-color-darken: #1e293b;
$bg-secondary-color-darken: #0f172a;
$text-primary-color-darken: black;

ResearcherInfoWidget {
    margin: 1 2;
    height: auto;
    border: $text-primary-color wide;
    background: $bg-secondary-color;
}

.-dark-mode ResearcherInfoWidget {
    color: $text-primary-color-darken;
}


/* Main info Container */
ResearcherInfoWidget .researcher-block-container {
    padding: 1;
    height: auto;
}

ResearcherInfoWidget .info-block-title {
    text-align: center;
    border-bottom: solid $text-primary-color;
}

ResearcherInfoWidget .info-container Static {
    text-align: center;
    width: 1fr;
}


/* Extended info container */
ResearcherInfoWidget #extended-info-container {
    height: auto;

    layout: grid;
    grid-size: 3 4;
    grid-rows: 11;
    grid-columns: 1fr;
}

ResearcherInfoWidget .grid-box {
    height: 100%;
    padding: 1 2;
    border: solid $text-primary-color;
}

ResearcherInfoWidget .grid-size-2 {
    column-span: 2;
}

ResearcherInfoWidget .grid-size-3 {
    column-span: 3;
    row-span: 2;
    align: center middle;
}
