/* COLORS */
$bg-main-color: white;
$bg-secondary-color: #e5e7eb;
$bg-secondary-color-accent: #d1d5db;
$text-primary-color: black;

$bg-main-color-darken: #1e293b;
$bg-secondary-color-darken: #0f172a;
$text-primary-color-darken: black;

/* Finder */
FinderWidget {
    height: 1fr;
}

FinderWidget #results-container {
    overflow: auto;
    margin: 1 2;
}

/* Searchbar */
FinderWidget .searchbar-container {
    height: 4;
}

SearchBar {
    width: 3fr;
    height: 3;
    padding: 0 1;
    margin: 1 1 0 1;
}

EntityTypeSelector {
    width: 1fr;
    margin-top: 1;
}


/* Result Widget */
ResultWidget {
    height: 9;
    layout: horizontal;
    border: $text-primary-color wide;
    margin: 1 0;
    background: $bg-secondary-color;
}

.-dark-mode ResultWidget {
    color: $text-primary-color-darken;
}

ResultWidget Button {
    height: 100%;
    width: 1fr;
    text-align: center;
    border: $text-primary-color solid;
    padding: 0 1;
}

.-dark-mode ResultWidget Button {
    background: $bg-secondary-color;
}

ResultWidget .vertical-content {
    height: 100%;
    width: 4fr;
    border: black solid;
    padding: 0 1;
}

ResultWidget .main-info-container {
    height: auto;
    margin-bottom: 1;
}

ResultWidget .main-info-container Static {
    width: 1fr;
}

ResultWidget .text-hint {
    max-height: 3;
}
