/* COLORS */
$bg-main-color: white;
$bg-secondary-color: #e5e7eb;
$bg-secondary-color-accent: #d1d5db;
$text-primary-color: black;

$bg-main-color-darken: #1e293b;
$bg-secondary-color-darken: #0f172a;
$text-primary-color-darken: black;

$primary-color: #b91c1c;
$primary-color-accent: #991b1b;
$primary-color-highlight: #dc2626;


Tree {
    background: $bg-main-color;
    color: $text-primary-color;
}

.-dark-mode Tree {
    background: $bg-secondary-color;
}

Tree > .tree--guides {
    color: $text-primary-color;
}

Tree > .tree--guides-hover {
    color: $primary-color-highlight;
}

Tree > .tree--guides-selected {
    color: $primary-color-highlight;
}

Tree > .tree--cursor {
    background: $primary-color;
}

Tree:focus > .tree--cursor {
    background: $primary-color-accent;
    color: $bg-main-color;
}
