interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/authors/A5088021854
  response:
    content: '{"id":"https://openalex.org/A5088021854","orcid":"https://orcid.org/0000-0002-3664-9595","display_name":"Rossana
      Tamara Medina Valencia","display_name_alternatives":["Rossana Tamara Medina
      Valencia","Rossana Tamara Medina-Valencia"],"works_count":12,"cited_by_count":4,"summary_stats":{"2yr_mean_citedness":0.2,"h_index":1,"i10_index":0},"ids":{"openalex":"https://openalex.org/A5088021854","orcid":"https://orcid.org/0000-0002-3664-9595"},"last_known_institution":{"id":"https://openalex.org/I916541031","ror":"https://ror.org/04znxe670","display_name":"University
      of Colima","country_code":"MX","type":"education"},"x_concepts":[{"id":"https://openalex.org/C15708023","wikidata":"https://www.wikidata.org/wiki/Q80083","display_name":"Humanities","level":1,"score":75.0},{"id":"https://openalex.org/C138885662","wikidata":"https://www.wikidata.org/wiki/Q5891","display_name":"Philosophy","level":0,"score":75.0},{"id":"https://openalex.org/C142362112","wikidata":"https://www.wikidata.org/wiki/Q735","display_name":"Art","level":0,"score":75.0},{"id":"https://openalex.org/C15744967","wikidata":"https://www.wikidata.org/wiki/Q9418","display_name":"Psychology","level":0,"score":50.0},{"id":"https://openalex.org/C71924100","wikidata":"https://www.wikidata.org/wiki/Q11190","display_name":"Medicine","level":0,"score":33.3},{"id":"https://openalex.org/C144024400","wikidata":"https://www.wikidata.org/wiki/Q21201","display_name":"Sociology","level":0,"score":33.3},{"id":"https://openalex.org/C17744445","wikidata":"https://www.wikidata.org/wiki/Q36442","display_name":"Political
      science","level":0,"score":25.0}],"counts_by_year":[{"year":2022,"works_count":1,"cited_by_count":1},{"year":2021,"works_count":4,"cited_by_count":3},{"year":2020,"works_count":1,"cited_by_count":0},{"year":2017,"works_count":1,"cited_by_count":0},{"year":2015,"works_count":2,"cited_by_count":0},{"year":2014,"works_count":1,"cited_by_count":0}],"works_api_url":"https://api.openalex.org/works?filter=author.id:A5088021854","updated_date":"2023-08-05T18:08:10.132651","created_date":"2023-07-21"}

      '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=author.id:A5088021854&sort=publication_date
  response:
    content: '{"meta":{"count":12,"db_response_time_ms":62,"page":1,"per_page":25},"results":[{"id":"https://openalex.org/W1938046431","doi":null,"title":"An\u00e1lisis
      descriptivo del IMC, habilidad motriz y deporte extraescolar en ni\u00f1os y
      ni\u00f1as de once a\u00f1os","display_name":"An\u00e1lisis descriptivo del
      IMC, habilidad motriz y deporte extraescolar en ni\u00f1os y ni\u00f1as de once
      a\u00f1os","publication_year":2007,"publication_date":"2007-11-30","ids":{"openalex":"https://openalex.org/W1938046431","mag":"1938046431"},"language":"en","primary_location":{"is_oa":false,"landing_page_url":"http://sedici.unlp.edu.ar/bitstream/handle/10915/11799/Documento_completo.pdf?sequence=1","pdf_url":null,"source":{"id":"https://openalex.org/S2739229005","display_name":"Educaci\u00f3n
      F\u00edsica y Ciencia","issn_l":"1514-0105","issn":["1514-0105","2314-2561"],"is_oa":true,"is_in_doaj":true,"host_organization":"https://openalex.org/P4310318145","host_organization_name":"National
      University of La Plata","host_organization_lineage":["https://openalex.org/P4310318145"],"host_organization_lineage_names":["National
      University of La Plata"],"type":"journal"},"license":null,"version":null},"type":"article","type_crossref":"journal-article","open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5008632896","display_name":"Ciria
      Margarita Salazar","orcid":"https://orcid.org/0000-0001-8863-2309"},"institutions":[],"countries":[],"is_corresponding":false,"raw_affiliation_string":"","raw_affiliation_strings":[]},{"author_position":"middle","author":{"id":"https://openalex.org/A5088021854","display_name":"Rossana
      Tamara Medina Valencia","orcid":"https://orcid.org/0000-0002-3664-9595"},"institutions":[],"countries":[],"is_corresponding":false,"raw_affiliation_string":"","raw_affiliation_strings":[]},{"author_position":"middle","author":{"id":"https://openalex.org/A5080062960","display_name":"Mart\u00edn
      Gerardo Vargas Elizondo","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_affiliation_string":"","raw_affiliation_strings":[]},{"author_position":"last","author":{"id":"https://openalex.org/A5083005379","display_name":"Jos\u00e9
      Del R\u00edo Valdivia","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_affiliation_string":"","raw_affiliation_strings":[]}],"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":{"value":0,"currency":"USD","value_usd":0,"provenance":"doaj"},"apc_paid":{"value":0,"currency":"USD","value_usd":0,"provenance":"doaj"},"cited_by_count":0,"biblio":{"volume":"10","issue":"10","first_page":"125","last_page":"138"},"is_retracted":false,"is_paratext":false,"concepts":[{"id":"https://openalex.org/C2776154427","wikidata":"https://www.wikidata.org/wiki/Q7755","display_name":"Constitution","level":2,"score":0.70322394},{"id":"https://openalex.org/C135121143","wikidata":"https://www.wikidata.org/wiki/Q182034","display_name":"Hegemony","level":3,"score":0.65310836},{"id":"https://openalex.org/C2778444522","wikidata":"https://www.wikidata.org/wiki/Q1081491","display_name":"Football","level":2,"score":0.59815496},{"id":"https://openalex.org/C15708023","wikidata":"ht[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=cites:W1938046431&sort=publication_date
  response:
    content: '{"meta":{"count":0,"db_response_time_ms":77,"page":1,"per_page":25},"results":[],"group_by":[]}

      '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=cites:W3111555194&sort=publication_date
  response:
    content: '{"meta":{"count":2,"db_response_time_ms":24,"page":1,"per_page":25},"results":[{"id":"https://openalex.org/W3158713728","doi":"https://doi.org/10.31206/rmdo342020","title":"Respuestas
      psicol\u00f3gicas durante el confinamiento por la pandemia por COVID-19 en estudiantes
      mexicanos","display_name":"Respuestas psicol\u00f3gicas durante el confinamiento
      por la pandemia por COVID-19 en estudiantes mexicanos","publication_year":2021,"publication_date":"2021-01-01","ids":{"openalex":"https://openalex.org/W3158713728","doi":"https://doi.org/10.31206/rmdo342020","mag":"3158713728"},"language":"es","primary_location":{"is_oa":false,"landing_page_url":"https://doi.org/10.31206/rmdo342020","pdf_url":null,"source":{"id":"https://openalex.org/S4210225343","display_name":"Revista
      mexicana de orientaci\u00f3n educativa","issn_l":"1665-7527","issn":["1665-7527"],"is_oa":false,"is_in_doaj":false,"host_organization":null,"host_organization_name":null,"host_organization_lineage":[],"host_organization_lineage_names":[],"type":"journal"},"license":null,"version":null,"is_accepted":false,"is_published":false},"type":"article","type_crossref":"journal-article","open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5076629000","display_name":"Blanca
      Estela Barcelata-Eguiarte","orcid":null},"institutions":[{"id":"https://openalex.org/I4210087225","display_name":"Universidad
      Aut\u00f3noma Monterrey","ror":"https://ror.org/004fan886","country_code":"CR","type":"e[...]
[...]
