interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/authors/A5058237853
  response:
    content: '{"id":"https://openalex.org/A5058237853","orcid":null,"display_name":"Mar\u00eda
      Teresa G\u00f3mez P\u00e9rez","display_name_alternatives":["Maria Teresa Gomez
      Perez","Mar\u00eda Teresa G\u00f3mez P\u00e9rez"],"works_count":3,"cited_by_count":2,"summary_stats":{"2yr_mean_citedness":0.0,"h_index":1,"i10_index":0},"ids":{"openalex":"https://openalex.org/A5058237853"},"last_known_institution":{"id":"https://openalex.org/I916541031","ror":"https://ror.org/04znxe670","display_name":"University
      of Colima","country_code":"MX","type":"education"},"x_concepts":[{"id":"https://openalex.org/C15708023","wikidata":"https://www.wikidata.org/wiki/Q80083","display_name":"Humanities","level":1,"score":100.0},{"id":"https://openalex.org/C138885662","wikidata":"https://www.wikidata.org/wiki/Q5891","display_name":"Philosophy","level":0,"score":100.0},{"id":"https://openalex.org/C142362112","wikidata":"https://www.wikidata.org/wiki/Q735","display_name":"Art","level":0,"score":100.0},{"id":"https://openalex.org/C15744967","wikidata":"https://www.wikidata.org/wiki/Q9418","display_name":"Psychology","level":0,"score":66.7},{"id":"https://openalex.org/C313442","wikidata":"https://www.wikidata.org/wiki/Q778556","display_name":"Persona","level":2,"score":33.3},{"id":"https://openalex.org/C17744445","wikidata":"https://www.wikidata.org/wiki/Q36442","display_name":"Political
      science","level":0,"score":33.3},{"id":"https://openalex.org/C41008148","wikidata":"https://www.wikidata.org/wiki/Q21198","display_name":"Computer
      science","level":0,"score":33.3},{"id":"https://openalex.org/C78519656","wikidata":"https://www.wikidata.org/wiki/Q101333","display_name":"Mechanical
      engineering","level":1,"score":33.3},{"id":"https://openalex.org/C107457646","wikidata":"https://www.wikidata.org/wiki/Q207434","display_name":"Human\u2013computer
      interaction","level":1,"score":33.3},{"id":"https://openalex.org/C127413603","wikidata":"https://www.wikidata.org/wiki/Q11023","display_name":"Engineering","level":0,"score":33.3}],"counts_by_year":[{"year":2023,"works_count":0,"cited_by_count":1},{"year":2022,"works_count":1,"cited_by_count":1},{"year":2021,"works_count":0,"cited_by_count":1},{"year":2016,"works_count":1,"cited_by_count":0},{"year":2015,"works_count":1,"cited_by_count":0}],"works_api_url":"https://api.openalex.org/works?filter=author.id:A5058237853","updated_date":"2023-08-05T11:02:31.323773","created_date":"2023-07-21"}

      '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=author.id:A5058237853&sort=publication_date
  response:
    content: '{"meta":{"count":2,"db_response_time_ms":45,"page":1,"per_page":25},"results":[{"id":"https://openalex.org/W2480848446","doi":"https://doi.org/10.37467/gka-revedu.v3.593","title":"An\u00e1lisis
      de los factores que contribuyen al \u00e9xito acad\u00e9mico en estudiantes
      universitarios: estudio de cuatro casos de la Universidad de Colima","display_name":"An\u00e1lisis
      de los factores que contribuyen al \u00e9xito acad\u00e9mico en estudiantes
      universitarios: estudio de cuatro casos de la Universidad de Colima","publication_year":2015,"publication_date":"2015-11-03","ids":{"openalex":"https://openalex.org/W2480848446","doi":"https://doi.org/10.37467/gka-revedu.v3.593","mag":"2480848446"},"language":"es","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.37467/gka-revedu.v3.593","pdf_url":null,"source":{"id":"https://openalex.org/S4210239019","display_name":"EDU
      review","issn_l":"2695-9917","issn":["2695-9917"],"is_oa":false,"is_in_doaj":false,"host_organization":null,"host_organization_name":null,"host_organization_lineage":[],"host_organization_lineage_names":[],"type":"journal"},"license":"cc-by-nc-nd","version":"publishedVersion"},"type":"article","type_crossref":"journal-article","open_access":{"is_oa":true,"oa_status":"hybrid","oa_url":"https://doi.org/10.37467/gka-revedu.v3.593","any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5042582004","display_name":"Mireya
      Sarah\u00ed Abarca Cede\u00f1o","orcid":null},"institutions":[{"id":"https://openalex.org/I916541031","display_name":"University
      of Colima","ror":"https://ror.org/04znxe670","country_code":"MX","type":"education"}],"countries":["MX"],"is_corresponding":false,"raw_affiliation_string":"Universidad
      de Colima,","raw_affiliation_strings":["Universidad de Colima,"]},{"author_position":"middle","author":{"id":"https://openalex.org/A5058237853","display_name":"Mar\u00eda
      Teresa G\u00f3mez P\u00e9rez","orcid":null},"institutions":[{"id":"https://openalex.org/I916541031","display_name":"University
      of Colima","ror":"https://ror.org/04znxe670","country_code":"MX","type":"education"}],"countries":["MX"],"is_corresponding":false,"raw_affiliation_string":"Universidad
      de Colima,","raw_affiliation_strings":["Universidad de Colima,"]},{"author_position":"last","author":{"id":"https://openalex.org/A5032206030","display_name":"Ma.
      de Lourdes Covarrubias Venegas","orcid":null},"institutions":[{"id":"https://openalex.org/I916541031","display_name":"University
      of Colima","ror":"https://ror.org/04znxe670","country_code":"MX","type":"education"}],"countries":["MX"],"is_corresponding":false,"raw_affiliation_string":"Universidad
      de Colima,","raw_affiliation_strings":["Universidad de Colima,"]}],"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"cited_by_count":2,"biblio":{"volume":"3","issue":"2","first_page":null,"last_page":null},"is_retracted":false,"is_paratext":false,"concepts":[{"id":"https://openalex.org/C15708023","wikidata":"https://www.wikidata.org/wiki/Q80083","display_name":"Humanities","level":1,"score":0.786971},{"id":"https://openalex.org/C313442","wikidata":"https://www.wikidata.org/wiki/Q778556","display_name":"Persona","level":2,"score":0.5091979},{"id":"https://openalex.org/C17744445","wikidata":"https://www.wikidata.org/wiki/Q36442","display_name":"Political
      science","level":0,"score":0.4145227},{"id":"https://openalex.org/C138885662","wikidata":"https://www.wikidata.org/wiki/Q5891","display_name":"Philosophy","level":0,"score":0.25952113}],"mesh":[],"locations_count":1,"locations":[{"is_oa":true,"landing_page_url":"https://doi.org/10.37467/gka-revedu.v3.593","pdf_url":null,"source":{"id":"https://openalex.org/S4210239019","display_name":"EDU
      review","issn_l":"2695-9917","issn":["2695-9917"],"is_oa":false,"is_in_doaj":false,"host_organization":null,"host_organization_name":null,"host_organization_lineage":[],"host_organization_lineage_names":[],"type":"journal"},"license":"cc-by-nc-nd","version":"publishedVersion"}],"best_oa_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.37467/gka-revedu.v3.593","pdf_url":null,"source":{"id":"https://openalex.org/S4210239019","display_name":"EDU
      review","issn_l":"2695-9917","issn":["2695-9917"],"is_oa":false,"is_in_doaj":false,"host_organization":null,"host_organization_name":null,"host_organization_lineage":[],"host_organization_lineage_names":[],"type":"journal"},"license":"cc-by-nc-nd","version":"publishedVersion"},"sustainable_development_goals":[],"grants":[],"referenced_works_count":2,"referenced_works":["https://openalex.org/W1990037077","https://openalex.org/W3162259870"],"related_works":["https://openalex.org/W1528696130","https://openalex.org/W1562640978","https://openalex.org/W1583581948","https://openalex.org/W2773098120","https://openalex.org/W2888947023","https://openalex.org/W2914168807","https://openalex.org/W2950274435","https://openalex.org/W3003325775","https://openalex.org/W3086518124","https://openalex.org/W3164105651"],"ngrams_url":"https://api.openalex.org/works/W2480848446/ngrams","abstract_inverted_index":{"Si":[0],"consideramos":[1],"al":[2,142],"\u00e9xito":[3,60,131,143,235],"como":[4,93],"la":[5,69,94,102,125,155,160,178,181,191,218,226],"capacidad":[6],"que":[7,43,57,104,140,150,213,232],"tiene":[8],"un":[9],"individuo":[10],"para":[11,29,149],"definir":[12],"su":[13,18,30],"prop\u00f3sito":[14],"de":[15,37,75,96,101,130,136,163,173,180,187,190,200,202,216,228],"vida,":[16],"desarrollar":[17],"potencial":[19],"cognitivo,":[20],"afectivo,":[21],"f\u00edsico":[22],"y":[23,33,72,90,98,106,127,195,225],"sembrar":[24],"valores":[25],"en":[26,46,177,184],"los":[27,41,55,138,151,214],"dem\u00e1s":[28],"realizaci\u00f3n":[31],"(Amaya":[32],"Prado,":[34],"2002),":[35],"es":[36],"gran":[38],"relevancia":[39],"identificar":[40,137],"factores":[42,100,139,231],"le":[44],"favorecen":[45,233],"el":[47,59,83,128,134,222,234],"\u00e1mbito":[48],"acad\u00e9mico.":[49,132,236],"De":[50],"acuerdo":[51],"con":[52,82,113,205],"Melav\u00e9":[53],"(2001),":[54],"estudiantes":[56,152,172],"alcanzan":[58],"acad\u00e9mico":[61],"poseen":[62],"alta":[63],"motivaci\u00f3n,":[64],"una":[65,114],"actitud":[66],"favorable":[67],"hacia":[68],"carrera":[70],"elegida":[71],"buenos":[73],"h\u00e1bitos":[74],"estudio,":[76,217],"lo":[77],"cual":[78],"podr\u00eda":[79],"estar":[80],"relacionado":[81],"rendimiento":[84,175],"escolar":[85,176],"definido":[86],"por":[87],"P\u00e9rez,":[88],"Ram\u00f3n":[89],"S\u00e1nchez":[91],"(2000)":[92],"suma":[95],"diferentes":[97,185],"complejos":[99],"persona":[103],"aprende":[105],"se":[107,158],"mide":[108],"mediante":[109,166],"las":[110,120,203],"calificaciones":[111],"obtenidas":[112],"valoraci\u00f3n":[115],"cuantitativa,":[116],"cuyos":[117],"resultados":[118,211],"muestran":[119,212],"materias":[121],"ganadas":[122],"o":[123],"perdidas,":[124],"deserci\u00f3n":[126],"grado":[129],"Con":[133],"fin":[135],"contribuyen":[141],"acad\u00e9mico,":[144],"mejorar":[145],"e":[146],"implementar":[147],"estrategias":[148],"logren":[153],"concluir":[154],"licenciatura":[156],"exitosamente,":[157],"realiz\u00f3":[159],"presente":[161],"investigaci\u00f3n":[162],"corte":[164],"cualitati-vo,":[165],"entrevistas":[167],"a":[168,170],"profundidad":[169],"cuatro":[171],"mejor":[174],"carrera,":[179],"generaci\u00f3n":[182],"2010-2014,":[183],"\u00e1reas":[186],"formaci\u00f3n:":[188],"ciencias":[189],"salud,":[192],"ingenier\u00eda,":[193],"humanidades":[194],"econ\u00f3mico-administrativo.":[196],"Se":[197],"realizaron":[198],"an\u00e1lisis":[199],"categor\u00edas":[201],"entrevistas,":[204],"apoyo":[206,223],"del":[207,220],"software":[208],"MaxQda.":[209],"Los":[210],"h\u00e1bi-tos":[215],"organizaci\u00f3n":[219],"tiempo,":[221],"familiar":[224],"priorizaci\u00f3n":[227],"actividades":[229],"son":[230]},"cited_by_api_url":"https://api.openalex.org/works?filter=cites:W2480848446","counts_by_year":[{"year":2022,"cited_by_count":1},{"year":2021,"cited_by_count":1}],"updated_date":"2023-08-06T18:43:23.908321","created_date":"2016-08-23"},{"id":"https://openalex.org/W4310369827","doi":"https://doi.org/10.46990/iquatro.2022.12.2.5","title":"Cap\u00edtulo
      5. Percepci\u00f3n sobre la inclusi\u00f3n en las pr\u00e1cticas docentes de
      los estudiantes de Licenciatura en Ense\u00f1anza de las Matem\u00e1ticas, en
      Educaci\u00f3n F\u00edsica y Deporte y en Educaci\u00f3n Especial de la Universidad
      de Colima","display_name":"Cap\u00edtulo 5. Percepci\u00f3n sobre la inclusi\u00f3n
      en las pr\u00e1cticas docentes de los estudiantes de Licenciatura en Ense\u00f1anza
      de las Matem\u00e1ticas, en Educaci\u00f3n F\u00edsica y Deporte y en Educaci\u00f3n
      Especial de la Universidad de Colima","publication_year":2022,"publication_date":"2022-12-02","ids":{"openalex":"https://openalex.org/W4310369827","doi":"https://doi.org/10.46990/iquatro.2022.12.2.5"},"language":"es","primary_location":{"is_oa":true,"landing_page_url":"https://doi.org/10.46990/iquatro.2022.12.2.5","pdf_url":null,"source":null,"license":null,"version":"publishedVersion","is_accepted":true,"is_published":true},"type":"book-chapter","type_crossref":"book-chapter","open_access":{"is_oa":true,"oa_status":"bronze","oa_url":"https://doi.org/10.46990/iquatro.2022.12.2.5","any_repository_has_fulltext":true},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5042582004","display_name":"Mireya
      Sarah\u00ed Abarca Cede\u00f1o","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_affiliation_string":"","raw_affiliation_strings":[]},{"author_position":"middle","author":{"id":"https://openalex.org/A5041119868","display_name":"Rosa
      Marcela Villanueva Maga\u00f1a","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_affiliation_string":"","raw_affiliation_strings":[]},{"author_position":"middle","author":{"id":"https://openalex.org/A5081996991","display_name":"Jes\u00fas
      Antonio Larios Trejo","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_affiliation_string":"","raw_affiliation_strings":[]},{"author_position":"last","author":{"id":"https://openalex.org/A5058237853","display_name":"Mar\u00eda
      Teresa G\u00f3mez P\u00e9rez","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_affiliation_string":"","raw_affiliation_strings":[]}],"institutions_distinct_count":0,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"cited_by_count":1,"biblio":{"volume":null,"issue":null,"first_page":"69","last_page":"84"},"is_retracted":false,"is_paratext":false,"concepts":[{"id":"https://openalex.org/C15708023","wikidata":"https://www.wikidata.org/wiki/Q80083","display_name":"Humanities","level":1,"score":0.34351957},{"id":"https://openalex.org/C15744967","wikidata":"https://www.wikidata.org/wiki/Q9418","display_name":"Psych[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=cites:W2480848446&sort=publication_date
  response:
    content: '{"meta":{"count":2,"db_response_time_ms":45,"page":1,"per_page":25},"results":[{"id":"https://openalex.org/W4206448476","doi":"https://doi.org/10.35429/jhrt.2021.19.7.1.5","title":"Good
      practices, in educational inclusion experiences in a Higher Education Dependence","display_name":"Good
      practices, in educational inclusi[...]
[...]
