interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/authors/A5015201707
  response:
    content: '{"id":"https://openalex.org/A5015201707","orcid":"https://orcid.org/0000-0003-0822-9873","display_name":"Sergio
      Iv\u00e1n Ram\u00edrez Cacho","display_name_alternatives":["Sergio Iv\u00e1n
      Ram\u00edrez Cacho","Sergio Ivan Ramirez Cacho"],"works_count":15,"cited_by_count":6,"summary_stats":{"2yr_mean_citedness":0.0,"h_index":2,"i10_index":0},"ids":{"openalex":"https://openalex.org/A5015201707","orcid":"https://orcid.org/0000-0003-0822-9873"},"affiliations":[{"institution":{"id":"https://openalex.org/I916541031","ror":"https://ror.org/04znxe670","display_name":"University
      of Colima","country_code":"MX","type":"education","lineage":["https://openalex.org/I916541031"]},"years":[2016,2014,2012,2011,2010,2009,2008]}],"last_known_institution":{"id":"https://openalex.org/I916541031","ror":"https://ror.org/04znxe670","display_name":"University
      of Colima","country_code":"MX","type":"education","lineage":["https://openalex.org/I916541031"]},"last_known_institutions":[{"id":"https://openalex.org/I916541031","ror":"https://ror.org/04znxe670","display_name":"University
      of Colima","country_code":"MX","type":"education","lineage":["https://openalex.org/I916541031"]}],"x_concepts":[{"id":"https://openalex.org/C17744445","wikidata":"https://www.wikidata.org/wiki/Q36442","display_name":"Political
      science","level":0,"score":106.7},{"id":"https://openalex.org/C138885662","wikidata":"https://www.wikidata.org/wiki/Q5891","display_name":"Philosophy","level":0,"score":106.7},{"id":"https://openalex.org/C142362112","wikidata":"https://www.wikidata.org/wiki/Q735","display_name":"Art","level":0,"score":93.3},{"id":"https://openalex.org/C15708023","wikidata":"https://www.wikidata.org/wiki/Q80083","display_name":"Humanities","level":1,"score":80.0},{"id":"https://openalex.org/C144133560","wikidata":"https://www.wikidata.org/wiki/Q4830453","display_name":"Business","level":0,"score":40.0},{"id":"https://openalex.org/C162324750","wikidata":"https://www.wikidata.org/wiki/Q8134","display_name":"Economics","level":0,"score":40.0},{"id":"https://openalex.org/C121955636","wikidata":"https://www.wikidata.org/wiki/Q4116214","display_name":"Accounting","level":1,"score":33.3},{"id":"https://openalex.org/C187736073","wikidata":"https://www.wikidata.org/wiki/Q2920921","display_name":"Management","level":1,"score":33.3},{"id":"https://openalex.org/C199521495","wikidata":"https://www.wikidata.org/wiki/Q181487","display_name":"Audit","level":2,"score":33.3},{"id":"https://openalex.org/C199539241","wikidata":"https://www.wikidata.org/wiki/Q7748","display_name":"Law","level":1,"score":26.7},{"id":"https://openalex.org/C205649164","wikidata":"https://www.wikidata.org/wiki/Q1071","display_name":"Geography","level":0,"score":26.7}],"counts_by_year":[{"year":2023,"works_count":1,"cited_by_count":0},{"year":2018,"works_count":0,"cited_by_count":1},{"year":2017,"works_count":0,"cited_by_count":1},{"year":2016,"works_count":1,"cited_by_count":1},{"year":2014,"works_count":1,"cited_by_count":1},{"year":2012,"works_count":1,"cited_by_count":1}],"works_api_url":"https://api.openalex.org/works?filter=author.id:A5015201707","updated_date":"2024-01-20T18:46:21.116573","created_date":"2023-07-21"}

      '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=author.id:A5015201707&sort=publication_date
  response:
    content: '{"meta":{"count":16,"db_response_time_ms":38,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W342618415","doi":null,"title":"Nueva
      normativa sobre materialidad y su repercusi\u00f3n en las normas de Colombia,
      Espa\u00f1a y M\u00e9xico","display_name":"Nueva normativa sobre materialidad
      y su repercusi\u00f3n en las normas de Colombia, Espa\u00f1a y M\u00e9xico","publication_year":2008,"publication_date":"2008-01-01","ids":{"openalex":"https://openalex.org/W342618415","mag":"342618415"},"language":"es","primary_location":{"is_oa":false,"landing_page_url":"https://biblat.unam.mx/es/revista/revista-internacional-legis-de-contabilidad-auditoria/articulo/nueva-normativa-sobre-materialidad-y-su-repercusion-en-las-normas-de-colombia-espana-y-mexico","pdf_url":null,"source":{"id":"https://openalex.org/S4306527575","display_name":"Revista
      internacional legis de contabilidad & auditor\u00eda","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"host_organization":null,"host_organization_name":null,"host_organization_lineage":[],"host_organization_lineage_names":[],"type":"journal"},"license":null,"version":null,"is_accepted":false,"is_published":false},"type":"article","type_crossref":"journal-article","indexed_in":[],"open_access":{"is_oa":false,"oa_status":"closed","oa_url":null,"any_repository_has_fulltext":false},"authorships":[{"author_position":"first","author":{"id":"https://openalex.org/A5017985198","display_name":"Francisco
      Javier Mart\u00ednez Garc\u00eda","orcid":null},"institutions":[{"id":"https://openalex.org/I13134134","display_name":"Universidad
      de Cantabria","ror":"https://ror.org/046ffzj20","country_code":"ES","type":"education","lineage":["https://openalex.org/I13134134"]}],"countries":["ES"],"is_corresponding":false,"raw_author_name":"Francisco
      Javier Mart\u00ednez Garc\u00eda","raw_affiliation_string":"Universidad de Cantabria,
      , Santander, Cantabria, Espa\u00f1a","raw_affiliation_strings":["Universidad
      de Cantabria, , Santander, Cantabria, Espa\u00f1a"]},{"author_position":"middle","author":{"id":"https://openalex.org/A5042247416","display_name":"Javier
      Montoya del Corte","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"Javier
      Montoya del Corte","raw_affiliation_string":"","raw_affiliation_strings":[]},{"author_position":"middle","author":{"id":"https://openalex.org/A5005247004","display_name":"Ana
      Fern\u00e1ndez Laviada","orcid":null},"institutions":[],"countries":[],"is_corresponding":false,"raw_author_name":"Ana
      Fern\u00e1ndez Laviada","raw_affiliation_string":"","raw_affiliation_strings":[]},{"author_position":"last","author":{"id":"https://openalex.org/A5015201707","display_name":"Sergio
      Iv\u00e1n Ram\u00edrez Cacho","orcid":"https://orcid.org/0000-0003-0822-9873"},"institutions":[{"id":"https://openalex.org/I916541031","display_name":"University
      of Colima","ror":"https://ror.org/04znxe670","country_code":"MX","type":"education","lineage":["https://openalex.org/I916541031"]}],"countries":["MX"],"is_corresponding":false,"raw_author_name":"Sergio
      Iv\u00e1n Ram\u00edrez Cacho","raw_affiliation_string":"(Universidad de Colima,
      Colima, Mexico)","raw_affiliation_strings":["(Universidad de Colima, Colima,
      Mexico)"]}],"countries_distinct_count":2,"institutions_distinct_count":2,"corresponding_author_ids":[],"corresponding_institution_ids":[],"apc_list":null,"apc_paid":null,"has_fulltext":false,"cited_by_count":2,"cited_by_percentile_year":{"min":75,"max":78},"biblio":{"volume":null,"issue":"35","first_page":"11","last_page":"38"},"is_retracted":false,"is_paratext":false,"keywords":[{"keyword":"colombia","score":0.4744},{"keyword":"espa\u00f1a","score":0.3541},{"keyword":"m\u00e9xico","score":0.3418}],"concepts":[{"id":"https://openalex.org/C17744445","wikidata":"https://www.wikidata.org/wiki/Q36442","display_name":"Political
      science","level":0,"score":0.46732178},{"id":"https://openalex.org/C15708023","wikidata":"https://www.wikidata.org/wiki/Q80083","display_name":"Humanities","level":1,"score":0.4454247},{"id":"https://openalex.org/C138885662","wikidata":"https://www.wikidata.org/wiki/Q5891","display_name":"Philosophy","level":0,"score":0.23526707}],"mesh":[],"locations_count":1,"locations":[{"is_oa":false,"landing_page_url":"https://biblat.unam.mx/es/revista/revista-internacional-legis-de-contabilidad-auditoria/articulo/nueva-normativa-sobre-materialidad-y-su-repercusion-en-las-normas-de-colombia-espana-y-mexico","pdf_url":null,"source":{"id":"https://openalex.org/S4306527575","display_name":"Revista
      internacional legis de contabilidad & auditor\u00eda","issn_l":null,"issn":null,"is_oa":false,"is_in_doaj":false,"host_organization":null,"host_organization_name":null,"host_organization_lineage":[],"host_organization_lineage_names":[],"type":"journal"},"license":null,"version":null,"is_accepted":false,"is_published":false}],"best_oa_location":null,"sustainable_development_goals":[{"id":"https://metadata.un.org/sdg/10","display_name":"Reduced
      inequalities","score":0.55},{"id":"https://metadata.un.org/sdg/16","display_name":"Peace,
      Justice and strong institutions","score":0.28},{"id":"https://metadata.un.org/sdg/8","display_name":"Decent
      work and economic growth","score":0.11}],"grants":[],"referenced_works_count":0,"referenced_works":[],"related_works":[],"ngrams_url":"https://api.openalex.org/works/W342618415/ngrams","abstract_inverted_index":null,"cited_by_api_url":"https://api.openalex.org/works?filter=cites:W342618415","counts_by_year":[{"year":2014,"cited_by_count":1}],"updated_date":"2024-01-18T17:56:02.300767","created_date":"2016-06-24"},{"id":"https://openalex.org/W3125502201","doi":null,"title":"LA
      MATERIALIDAD EN AUDITORIA: UN ANALISIS COMPARATIVO ENTRE LA NORMATIVA INTERNACIONAL
      Y LA NORMA DE COSTA RICA, ESPANA Y MEXICO","display_name":"LA MATERIALIDAD EN
      AUDITORIA: UN ANALISIS COMPARATIVO ENTRE LA NORMATIVA INTERNACIONAL Y LA NORMA
      DE COSTA RICA, ESPANA Y MEXICO","publication_year":2009,"publication_date":"2009-01-01","ids":{"openalex":"https://openalex.org/W3125502201","mag":"3125502201"},"language":"es","primary_location":{"is_oa":false,"landing_page_url":"https://econpapers.repec.org/article/ibfriafin/v_3a2_3ay_3a2009_3ai_3a1_3ap_3a113-126.htm","pdf_url":null,"source":{"id":"https://openalex.org/S4306527555","display_name":"Revista
      Internac[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=cites:W342618415&sort=publication_date
  response:
    content: '{"meta":{"count":2,"db_response_time_ms":50,"page":1,"per_page":25,"groups_count":null},"results":[{"id":"https://openalex.org/W2137007579","doi":"https://doi.org/10.22201/fca.24488410e.2010.258","title":"La
      importancia relativa en auditor\u00eda. Las nuevasnormas internacionales en
      comparaci\u00f3n con las normativa vige[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=cites:W3125502201&sort=publication_date
  response:
    content: '{"meta":{"count":0,"db_response_time_ms":60,"page":1,"per_page":25,"groups_count":null},"results":[],"group_by":[]}

      '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/sources/S4306527575
  response:
    content: '{"id":"https://openalex.org/S4306527575","issn_l":null,"issn":null,"display_name":"Revista
      internacional legis de contabilidad & auditor\u00eda","host_organization":null,"host_organization_name":null,"host_organization_lineage":[],"works_count":101,"cited_by_count":65,"summary_stats":{"2yr_mean_citedness":0.0,"h_index":5,"i10_index":0},"is_oa":false,"is_in_doaj":false,"ids":{"openalex":"https://openalex.org/S4306527575"},"homepage_url":null,"apc_prices":null,"apc_usd":null,"country_code":null,"societies":[],"alternate_titles":[],"abbreviated_title":null,"type":"journal","x_concepts":[{"id":"https://openalex.org/C17744445","wikidata":"https://www.wikidata.org/wiki/Q36442","display_name":"Political
      science","level":0,"score":58.4},{"id":"https://openalex.org/C142362112","wikidata":"https://www.wikidata.org/wiki/Q735","display_name":"Art","level":0,"score":47.5},{"id":"https://openalex.org/C138885662","wikidata":"https://www.wikidata.org/wiki/Q5891","display_name":"Philosophy","level":0,"score":46.5},{"id":"https://openalex.org/C15708023","wikidata":"https://www.wikidata.org/wiki/Q80083","display_name":"Humanities","level":1,"score":43.6}],"counts_by_year":[{"year":2021,"works_count":0,"cited_by_count":4},{"year":2020,"works_count":0,"cited_by_count":3},{"year":2019,"works_count":0,"cited_by_count":3},{"year":2017,"works_count":1,"cited_by_count":1},{"year":2016,"works_count":6,"cited_by_count":7},{"year":2015,"works_count":11,"cited_by_count":5},{"year":2014,"works_count":6,"cited_by_count":6},{"year":2013,"works_count":6,"cited_by_count":4},{"year":2012,"works_count":7,"cited_by_count":5}],"works_api_url":"https://api.openalex.org/works?filter=primary_location.source.id:S4306527575","updated_date":"2023-12-04T07:41:29.417896","created_date":"2022-10-17"}

      '
    headers:
      Content-Type:
      - application/json
      X-Api-Pool:
      - common
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/sources/S4210172589
  response:
    content: '{"id":"https://openalex.org/S4210172589","issn_l":"1556-5068","issn":["1556-5068"],"display_name":"Social
      Science Research Network","host_organization":"https://openalex.org/I1318003438","host_organization_name":"RELX
      Group (Netherlands)","host_organization_lineage":["https://openalex.org/I1318003438"],"works_count":1079692,"cited_by_count":2195622,"summary_stats":{"2yr_mean_citedness":0.12840384217662063,"h_index":224,"i10_index":40816},"is_oa":false,"is_in_doaj":false,"ids":{"openalex":"https://openalex.org/S4210172589","issn_l":"1556-5068","issn":["1556-5068"],"wikidata":"https://www.wikidata.org/wiki/Q7550801","fatcat":"https://fatcat.wiki/container/tol7woxlqjeg5bmzadeg6qrg3e"},"homepage_url":"http://www.ssrn.com/en/","apc_prices":null,"apc_usd":null,"country_code":"US","societies":[],"alternate_titles":["SSRN","Social
      Science Research Network (SSRN) home page","SSRN Home Page","Social Science
      Electronic Publishing presents Social Science Research Network"],"abbreviated_title":null,"type":"repository","x_concepts":[{"id":"https://openalex.org/C162324750","wikidata":"https://www.wikidata.org/wiki/Q8[...]
[...]
