name: Test

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    defaults:
      run:
        shell: bash

    steps:
      # Clone repo and install python
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Set up python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      # Install Poetry
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      # Load cached venv if cache exists
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      # Install dependencies if cache does not exist
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root
      # Install the root package (pub-analyzer).
      - name: Install project
        run: poetry install --no-interaction
      # Run lints
      - name: Run lints
        run: |
          source $VENV
          ruff check pub_analyzer tests
          mypy pub_analyzer tests
      # Run Formatter
      - name: Run format
        run: |
          source $VENV
          ruff format --check pub_analyzer tests
      # Run test suite
      - name: Run tests
        run: |
          source $VENV
          pytest --block-network
